@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 700;
    src: url(./Roboto_Mono/RobotoMono-Bold.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url(./Roboto_Mono/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    src: url(./Racing_Sans_One/RacingSansOne-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    src: url(./Roboto_Slab/RobotoSlab-Light.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(./Roboto_Slab/RobotoSlab-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url(./Roboto_Slab/RobotoSlab-Bold.ttf) format("truetype");
}
