body {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    background-color: $background-color;
    width: 85%;
    margin-left: 7.5%;

    -webkit-font-smoothing: antialiased;
}

.App {
    margin-bottom: 2em;
    width: 100%;

    h2 {
        color: $heavy-text;
        font-size: 1.5em;
        font-weight: 700;
        margin-top: 0em;
        margin-bottom: 0.65em;
    }

    .Footer {
        

        .Left {
            font-size: 0.85em;
            text-decoration: none;
        }

        .Center {
            font-size: 1.25em;
        }

        .Right {
            font-size: 0.85em;
            text-decoration: none;
        }
    }
}