body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto Slab', serif;
}

input {
    display: none;
}

//
// Main Header 
//
 
.switch-wrapper > div {
  position: absolute;
}

.main-header {
    height: 5.5em; 
}

.main-header-small {
    height: 2.75em;
}

.main-header > .main-title {
    width: 100%;
    font-size: 1.75em;
    margin: .5em 0 0 0;
    display: flex;
}

.main-header > .main-title > .icon {
    margin-top: .1em;
    margin-bottom: -1em;
}

.main-title > .icon > svg {
    cursor: pointer;    
    margin-right: .25em;
}

.main-header > .main-description {
    font-size: 1em;
    font-weight: 500;
    padding-top: 0;
    margin: 0 0 1.5em 0;
    margin-bottom: 1.5em;
}

@mixin main-header-theme($title-color, $description-color) {
    .main-title {
        color: $title-color;
    }

    .main-description {
        color: $description-color;
    }
}

.main-header-dark {
    @include main-header-theme(#ffffff, $light-background-text-color);
}

//
// Main Footer 
//

.main-footer {
    position: absolute;
    bottom: 0em;
    width: 95%;
    margin-left: -2.5%;
    margin-right: -2.5%;
    display: flex;
    height: 2.5em;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.main-footer-left {
    width: 25%;
    font-size: .85em;
    text-decoration: none;
    text-align: left;
    line-height: 3em;
    font-weight: 700;
}

.main-footer-center {
    width: 50%;
    font-size: 1.75em;
    text-align: center;
    line-height: 1.45em;
    font-family: 'Racing Sans One', cursive;
    user-select: none;
}

.main-footer-right {
    width: 25%;
    font-size: .85em;
    text-decoration: none;
    text-align: right;
    line-height: 3em;
    font-weight: 700;
}

.main-footer a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

@mixin main-footer-theme($text-color, $logo-color, $background-color) {
    .main-footer {
        background: $background-color;
        color: $text-color;
    }   

    .main-footer-center {
        color: $logo-color;
    }

    .main-footer a {
        color: $text-color;
    }
}

.main-footer-dark {
    @include main-footer-theme($faint-background-text-color, $name-color, $background-hightlight-color);
}

//
// Main App
//

.main-app {
    margin: 0;
    width: 95%;
    height: 100%;
    padding: 2.5%;
    margin-top: -2.5%;
}

.main-body {
    height: 68.5vh;
}

.main-body-large {
    height: 70vh;
}

@mixin main-app-theme($text-color, $background-color) {
    color: $text-color;
    background-color: $background-color;
}

@import 'meta';

.main-app-dark {
    @include main-app-theme(#ffffff, $background-color);
    @extend .main-header-dark;
    @extend .main-footer-dark;
    @extend .about-dark;
}