.btn {
    border-radius: .5em;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.btn-block {
    display: block;
}

.btn-flex {
    display: flex;
}

@mixin btn-size($width, $height) {
    line-height: $height;
    height: $height;
    width: $width;
}

@mixin btn-theme($btn-color) {
    border: .1em solid $btn-color;
    background-color: $btn-color;
    @include transition(background-color .1s ease-in-out);

    &:hover {
        background-color: darken($btn-color, 6%);
        @include transition(background-color .2s ease-in-out);
    }
}

.btn-orange {
    @include btn-theme($orange-color);
}

.btn-blue {
    @include btn-theme($blue-color);
}

.btn-green {
    @include btn-theme($green-color);
}