@import 'btn';
@import 'grid';

.dashboard > .grid-container {
    @include grid-container-size(14em, 5em);
    @include grid-container-gap(.5em, .5em);
}

.main-body > .sat-option {
    width: 16em;
    height: 95px;
    border-radius: .75em;
    margin-right: 1em;
    padding: .5em .5em 1em .75em;
    position: relative;
    background: $background-hightlight-color;
}

.main-body > .sat-option > label {
    position: absolute;
    font-size: .85em;
    padding: .15em .45em .15em .45em;
    background: $faint-background-text-color;
    line-height: 1.4em; 
    border-radius: .35em;
    line-height: 1.5em; 
    right: .75em;
    top: .85em;
}

.main-body > .sat-option > h3 {
    font-size: 1.5em;
    margin: 0;
}

.main-body > .sat-option > h4 {
    margin: 0 0 .5em 0;
    color: $light-background-text-color;
}

.main-body > .sat-option > .btn {
    @include btn-size(4.75em, 2.15em);
}