@import 'btn';

.Dashboard {
    .Satellite {
        width: 16em;
        height: 95px;
        border-radius: .75em;
        margin-right: 1em;
        padding: .5em .5em 1em .75em;
        position: relative;
        background: $background-hightlight-color;
    
        label {
            position: absolute;
            font-size: 0.85em;
            padding: .15em .45em .15em .45em;
            background: $faint-background-text-color;
            line-height: 1.4em; 
            border-radius: .35em;
            line-height: 1.5em; 
            right: 0.75em;
            top: 0.85em;
        }
    
        .btn {
            @include btn-size(4.75em, 2.15em);
        }
    
        h3 {
            font-size: 1.5em;
            margin: 0;
        }
    
        h4 {
            margin: 0 0 .5em 0;
            color: $light-background-text-color;
        }
    }
}

