.Dashboard {
    .Satellite {
        width: 16em;
        height: 95px;
        border-radius: 0.75em;
        margin-right: 1em;
        padding: 0.5em 0.5em 1.25em 0.75em;
        position: relative;
        background: $background-hightlight-color;
    
        label {
            position: absolute;
            font-size: 0.85em;
            padding: .15em .45em .15em .45em;
            background: $faint-background-text-color;
            line-height: 1.4em; 
            border-radius: .35em;
            line-height: 1.5em; 
            right: 0.75em;
            top: 0.85em;
        }
    
        a {
            border: 2px solid $blue-color;
            color: $blue-color;
            padding: 0.35em 0.75em 0.45em 0.75em;
            margin-right: 0.5em;
            border-radius: 0.5em;
            text-decoration: none;
            font-weight: 700;
        }
    
        h3 {
            font-size: 1.5em;
            margin: 0;
        }
    
        h4 {
            margin: 0 0 1.25em 0;
            color: $light-background-text-color;
        }
    }
}

