@import 'btn';

.Decoder {
    display: flex;
    margin-top: .25em;

    .LeftWindow {
        width: 30%;
        height: 100%;
    
        .Constellation {
            width: 250px;
            height: 275px;
            padding: 10px;
            background: $background-hightlight-color;
            border-radius: 0.5em;
        
            .Label {
                width: 100%;
                text-align: center;
                margin-top: 5px;
                font-size: 0.85em;
                color: $light-background-text-color;
                font-weight: 700;
            }
        
            .progress-bar {
                margin-left: -10px;
                padding-top: 1em;
                position: absolute;
                width: 270px;
            }
        }    
    }
    
    .CenterWindow {
        width: 35%;
        margin-left: 1.75em;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    
        .LockIndicator {
            width: 100%;
            height: 2.35em;
            margin-top: 0.575em;
            color: white;
            border-radius: 0.5em;
            text-align: center;
            line-height: 2.31em;
            font-weight: 700;
            transition: background-color 100ms ease-in-out;
        }
    
        .DroppedPackets {
            width: 9.25em;
            height: 4.05em;
            border-radius: 0.5em;
            background: $background-hightlight-color;
            padding: 0.5em;
            margin: 0.75em 0 0 0.75em;
    
            .Number {
                width: 100%;
                text-align: center;
                font-size: 1.75em;
                font-family: 'Roboto Mono', monospace;
                margin-top: 0.05em;
                color: white;
            }
    
            .Name {
                width: 100%;
                text-align: center;
                color: $light-background-text-color;
                font-size: 0.8em;
                font-weight: 700;
                margin-top: 0.4em;
            }
        }
    
        .SignalQuality {
            width: 5.5em;
            height: 4.05em;
            border-radius: 0.5em;
            background: $background-hightlight-color;
            padding: 0.5em;
            margin-top: 0.75em;
    
            .Number {
                width: 100%;
                text-align: center;
                font-size: 1.75em;
                margin-top: 0.05em;
                font-family: 'Roboto Mono', monospace;
                color: white;
            }
    
            .Name {
                width: 100%;
                text-align: center;
                color: $light-background-text-color;
                font-size: 0.8em;
                font-weight: 700;
                margin-top: 0.4em;
            }
        }
    
        .ReedSolomon {                
            width: 17em;
            height: 5.75em;
            border-radius: 0.5em;
            background: $background-hightlight-color;
            padding: 0.5em 0 0.5em 0.5em;
    
            .Name {
                width: 100%;
                margin-left: -0.15em;
                text-align: center;
                color: $light-background-text-color;
                font-size: 0.85em;
                font-weight: 700;
                margin-top: 0.5em;
            }
    
            .Indicator {
                display: flex;
                
                .Block {
                    width: 4em;
                    height: 3.75em;
                    padding: 0.25em 0.5em 0.25em 0.5em;
                    margin-right: 0.5em;
                    border-radius: 0.5em;
                    background: $background-color;
    
                    .Corrections {
                        font-size: 1.75em;
                        color: white;
                        text-align: center;
                        font-family: 'Roboto Mono', monospace;
                        width: 100%;
                    }
    
                    .Label {
                        font-size: 0.8em;
                        margin-top: 0.25em;
                        color: $faint-background-text-color;
                        font-weight: 700;
                        text-align: center;
                        width: 100%;
                    }
                }
            }
        }
    }   
    
    .RightWindow {
        width: 35%;
        margin-left: 0.9em;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
    
        .ChannelList {
            width: 100%;
            height: 17.85em;
            border-radius: 0.5em;
            background: $background-hightlight-color;
            padding: 0 0 0.5em 0.5em;
            display: flex;
            flex-wrap: wrap;
            overflow: hidden;
            align-content: flex-start;
    
            .Label {
                width: 100%;
                text-align: center;
                margin-top: 0.75em;
                font-size: 0.8em;
                color: $light-background-text-color;
                font-weight: 700;
            }
    
            .Channel {
                width: 6.6em;
                height: 1.21em;
                border-radius: 0.5em;
                background: $background-color;
                padding: 0.5em;
                margin: 0.5em 0.25em 0 0.25em;
                font-family: 'Roboto Mono', monospace;
                display: flex;
    
                .VCID {
                    width: 30%;
                    color: $faint-background-text-color;
                    font-weight: 700;
                    font-size: 1.15em;
                    line-height: 1em;
                    text-align: left;
                }
    
                .Count {
                    width: 70%;
                    text-align: right;
                    line-height: 1.15em;
                }
            }
        }

        .controll-box {
            margin-top: .71em;
            display: flex;

            .btn-small {
                display: inline-block;
                @include btn-size(7.5em, 2.05em);
            }

            .btn-large {
                @include btn-size(17em, 2.05em);
            }

            .btn-left {
                margin-right: 0.8em;
            }
        }
        
        
    }
}

.sockets-loader {
    margin-left: 23em;
    margin-top: 5em;
}