.grid-container {
    display: grid;
    justify-content: space-between;
}

@mixin grid-container-size($size-columns, $size-rows) {
    grid-template-columns: repeat(auto-fill, minmax($size-columns, 1fr));
    grid-template-rows: repeat(auto-fill, minmax($size-rows, 1fr));
}

@mixin grid-container-gap($row-gap, $column-gap) {
    grid-column-gap: $column-gap;
    grid-row-gap: $row-gap;
}
