.mtx-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;
}

.mtx-flex {
    &:after {
        content: "";
        flex: auto;
    }
}

.mtx-container > .mtx-cell {
    page-break-after: always;
}