//
// About Left
//

.about-left {
    width: 20em;
}

.about-left > figure > img {
    height: 15em;
    margin-top: .75em;
}

.about-left > figure > figcaption {
    font-size: .85em;
}

@mixin about-left-theme($text-color) {
    .about-left {
        color: $text-color;
    }

    .about-left > figure > figcaption > a {
        color: $text-color;
    }
}

//
// About Right 
//

.about-right {
    padding-left: 1.5em;
    margin-left: 1.25em;
    height: 66vh;
}

.about-right-title {
    font-size: 2.5em;
    font-family: 'Racing Sans One', cursive;
}

.about-right-subtitle {
    font-size: .85em;
    margin-bottom: 1.5em;
    font-style: italic;   
}

.about-right-body {
    font-size: .85em;
    margin-bottom: 2em;
    font-family: 'Roboto Mono', monospace;
}

@mixin about-right-theme($text-color) {
    .about-right {
        color: $text-color;
        border-left: 1px solid $text-color;
    }

    .about-right-subtitle > a {
        color: $text-color;
    }
}

//
// About 
//

.about {
    display: flex;
}

.about-dark {
    @include about-right-theme(#63667b);
    @include about-left-theme(#63667b);
}