//
// Processor
//

.processor {
    margin-top: .5em;
    align-content: space-between !important;
}

.processor > .btn > .feather {
    margin: auto;
}

@mixin processor-theme($background-color, $detail-color, $text-color) {
    .mtx-block {
        border-color: $detail-color;
    }
    
    .mtx-cell {
        color: $text-color;
        background-color: $detail-color;
    }

    .mtx-block-name {
        background-color: $background-color;
    }
}

.processor-dark {
    @include processor-theme($background-color, $background-hightlight-color, #ffffff);
}

//
// Matrix Block
//

.mtx-block {
    display: flex;
    box-sizing: border-box;
    border: .2em solid;
    border-radius: .5em;
}

.mtx-block-large {
    width: 26.5em;
    height: 50%;
}

.mtx-block-medium {
    width: 16em;
    height: 46%;
}

.mtx-block-small {
    width: 3.5em;
    height: 45%;
}

//
// Processor & Matrix Block
//

.processor > .mtx-block > .mtx-block-name {
    position: absolute;
    padding: 0em .35em;
    margin-top: -.95em;
    margin-left: .5em;
}

.processor > .mtx-block > .mtx-container {
    width: 100%;
    padding: .75em .5em;
    user-select: none;
}

.processor > .mtx-block > .mtx-container > .mtx-cell {
    $height: 1.35em;
    
    padding: .35em;
    height: $height;
    cursor: pointer;
    font-size: .85em;
    border-radius: .5em;
    line-height: $height;
    margin: .1em .075em;
    border: 2px solid transparent;
    font-family: 'Roboto Mono', monospace;
    
    .feather {
        margin-left: .3em;
    }
}

.processor > .mtx-block-medium > .mtx-container  > .mtx-cell {
    width: 95%;
    display: flex;
    justify-content: space-between;

    .feather {
        margin-top: .15em;
        display: none;
    }
}

.processor > .mtx-block > .mtx-container > .cell-active {
    border-color: $green-color;

    .feather {
        display: inline-flex !important;
        color: $green-color;
    }
}