$khronos-green: #087E8B;

$heavy-text: #493E44;

$light-text: #7D7979;
$light-filler: #F1F1F1;

$background-color: #FEFFFE;

.NoHover {
    pointer-events: none;
}

.Unbuttonfy {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.Unbuttonfy::-moz-focus-inner {
    border: 0;
}

@mixin centerer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}