$name-color: #24C18B;
$background-color: #212330;
$background-hightlight-color: #282A37;
$light-background-text-color: #A2A0A1;
$faint-background-text-color: #63667B;

$blue-color: #3F8EFC;
$orange-color: #FB5607;
$green-color: #059C75;