@import 'grid';

.step-picker {
    width: 100%;
}

.step-picker > .tab-view-body {
    @include grid-container-size(14em, 5em);
    @include grid-container-gap(1em, 1em);
}

.option-cell {
    background: $background-hightlight-color;
    position: relative !important;
    border-radius: .5em;
    padding: .5em 1em;
    width: 15em;
    height: 4.5em;
}

.option-cell > h4 {
    font-size: .85em;
    font-weight: normal;
    margin: .25em 0em;
}

.option-cell > h3 {
    cursor: pointer;
    font-size: 1.25em;
    margin: 0em;

    &:hover {
        text-decoration: underline;
    }
}

.option-cell-disabled > h3 {
    cursor: auto;

    &:hover {
        text-decoration: none !important;
    }
}