
.StepPicker {
    .Option {
        padding: 0.5em 1em 0.5em 1em;
        margin-right: 0.75em;
        width: 15em;
        height: 5em;
        
        h3 {
            cursor: pointer;
            font-size: 1.25em;
            margin: 0em 0.5em 0em 0em;
        }

        h3:hover {
            text-decoration: underline;
        }

        h4 {
            font-size: 0.9em;
            font-weight: normal;
            margin: 0.5em 0.5em 0em 0em;
        }

        background: $background-hightlight-color;
        border-radius: 0.25em;
    }

    .Deactivated {
        h3 {
            cursor: auto;
        }

        h3:hover {
            text-decoration: none !important;
        }
    }
}