.TimeDate {
    h3 {
        font-size: 2em;
        color: $heavy-text;
    }

    .PredictionBox {
        width: 15em;
        display: inline-block;
        vertical-align: top;
        padding: 0.75em;
        padding-left: 0;

        p {
            font-size: 1.5em;
            margin-top: 0em;
            margin-bottom: 0em;
            color: $heavy-text;
        }

        h4 {
            font-size: 2em;
            margin-top: 0.25em;
            margin-bottom: 0.25em;
            font-family: 'Roboto Mono', monospace;
            font-weight: 600;
            color: $heavy-text;
        }

        label {
            font-size: 1em;
            color: $light-text;
        }
    }

    .ClockSection {
        -webkit-backface-visibility: hidden;

        .react-clock__minute-hand {
            transition: transform 0.3s cubic-bezier(.4,2.08,.55,.44);
        }

        .react-clock__second-hand {
            transition: transform 0.2s cubic-bezier(.4,2.08,.55,.44);
        }

        .react-clock__minute-mark {

        }

        .react-clock__hour-mark {

        }

        .react-clock__face {
            border: 5px solid black;
        }

        .ClockBlock {
            display: inline-block;
            vertical-align: top;
            margin-right: 3em;

            h3 {
                width: 100%;
                color: $heavy-text;
                font-size: 1.75em;
                text-align: center;
                margin-bottom: 0.5em;
            }

            h4 {
                width: 100%;
                font-size: 1.75em;
                color: $heavy-text;
                font-family: 'Roboto Mono', monospace;
                margin: 0em;
                text-align: center;
            }

            h5 {
                width: 100%;
                text-align: center;
                color: $light-text;
                margin: 0em;
                margin-top: 0.25em;
                font-size: 1em;
            }

            .DigitalBlock {
                margin-top: 0.5em;
                border-radius: 0.75em;
                cursor: pointer;
                padding: 1em;
                transition: all 0.05s ease-in-out;
            }

            .DigitalBlock:hover {
                background: $light-filler;
                transition: all 0.05s ease-in-out;
            }
        }

        .ClockBlock:last-child {
            margin-right: 0em;
        }
    }
}